<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

<h2>ESG Analytics Dashboard</h2>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/dashboard">Dashboard</a></li>

<li><a href="/predict">Prediction</a></li>

<li><a href="/about">About</a></li>

</ul>

</nav>

<div class="container">

<h1>About This Project</h1>

<p>
This project predicts the Overall ESG Score of a company using
Machine Learning.
</p>

<br>

<h3>Technologies Used</h3>

<p>
Python<br>
Flask<br>
Pandas<br>
Scikit-Learn<br>
HTML<br>
CSS
</p>

</div>

</body>
</html>