<!DOCTYPE html>
<html>

<head>

    <title>ESG Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<nav>

<h2>ESG Analytics Dashboard</h2>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/dashboard">Dashboard</a></li>

<li><a href="/predict">Prediction</a></li>

<li><a href="/about">About</a></li>

</ul>

</nav>

<div class="container">

<h1>ESG Score and Sustainability Analytics Dashboard</h1>

<p>

Analyze Environmental, Social and Governance
performance of companies using Machine Learning.

</p>

<a href="/predict">

<button>

Predict ESG Score

</button>

</a>

</div>

</body>

</html> 